#frame{
    margin: 0;
}
body{
    margin: 2px;
    background-color: #9C9C9C;
}
.pic_div{
    width: 100%;
    margin-bottom: 15px;
    border: 0;
    padding: 0;
    background: rgb( 255, 255, 255 )
                url('images/loading.gif')
                50% 50%
                no-repeat;
}
.page_img{
    width: 100%;
    height: auto;
}